@font-face {
    font-family: abel;
    src: url(../fonts/abel-regular.ttf);
}

body {
	background: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	color: #1C1715;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;	
	width: 80%;
	margin: 0 auto;
}


h1 {
	font-family: abel, sans-serif;
	font-size: 2em;
	color: #1A18F7;
}

h2 {
	font-family: abel, sans-serif;
	font-size: 1.5em;
	color: #1C1715;
}

a {
	font-family: abel, sans-serif;
	color: white;
}

.intro {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.mePic{
	width: 200px;
	display: flex;
	order:1;
}

@media only screen and (min-width : 600px) {
/* Styles */
 

/* end query */


@media only screen and (min-width : 900px) {
/* Styles */
.container {
	width: 50%;
}
	
} /* end query */




